.posterImage{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.movieTitle{
    text-align: center;
    font-size: 15px;
    color:#F7BE10;


}
.movieVoteAverage{
    text-align: center;
    font-size: 15px;
    color: white;

}