 .body-container{
    /* margin-top: 10px; */
    background-color: #1d1d1d;
}

.button-container {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 20px; */
}
.now-playing-button, .search-button {
    margin: 30px;
    padding: 10px;
    background-color: #F7BE10;
    border-radius: 15px;
    color: #141414;
    border: none;
    cursor: pointer;
    width: 20%;
    transition: transform 0.8s ease, box-shadow 0.4s ease;
}
.now-playing-button:hover, .search-button:hover{
    background-color: #141414;
    color: #888888;
    transform: scale(1.00) translateY(-10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    /* background-color: #1d1d1d; */
    /* testing */


}
.movie-card{
    display:flex;
    border: 1px solid #141414;
    width: 17%;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 10);
    border-radius: 15px;
    /* background-color: #EFDECD; */
    background-color: #141414;
    margin-bottom: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.movie-card:hover{
    transform: scale(1.03) translateY(-10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.load-button{
    display:flex;
    margin: auto;
    font-size: 25px;
    padding: 10px;
    background-color: #F7BE10;
    border-radius: 15px;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: transform 0.8s ease, box-shadow 0.4s ease;
}

.load-button:hover{
    background-color: #141414;
    color: #888888;
    transform: scale(1.03) translateY(-10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer{
    background-color: black;
    color: #888888;
    padding: 40px;
    text-align: center;
    
}
.footer-links{
    padding: 5px;
}

@media (max-width: 800px) {
    .movie-card{
        width:100;
        max-width: 400px;
        margin: 0 auto 20px auto;
    }
    .movie-card:hover{
        transform: scale(1.00) translateY(-10px); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }