.my-header{
    padding: 35px;
    background-image: url("./bannerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.title{
    color: #919191;
    text-align: center;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 800px) {
    .now-playing-button, .search-button{
        width: 24%
    }
  }

