.site-title{
  font-size:40px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  color: white;
  box-sizing: border-box;
  border: .5rem black solid;
  flex-direction: column;
  padding:20px;
}
.App-footer{
  background-color: #282c34;
  display: flex;
  color: white;
  padding: 20px;
  justify-content: center;
  box-sizing: border-box;
  border: .5rem black solid;
}



