#root {
  max-width: 1900px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #f5f5f5;
}

.header {
  border: 2px solid indigo;
  width: 100%;
  background-color: indigo;
  display: fixed;
}

.title {
  color: white;
}
form{
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

#search-bar {
  padding: 10px;
  width: 500px;
  margin-right: 3px;

}

#search-button {
  background-color: #B19CD9;
  padding: 10px;
  border: 2px solid darkmagenta;
  border-radius: 5px;
}

#search-button:hover,
#nowPlayingButton:hover,
#searchTabButton:hover {
  color: white;
  background-color: darkmagenta;
  border: 2px solid #B19CD9;
  border-radius: 5px;
}

#nowPlayingButton {
  background-color: #B19CD9;
  padding: 10px;
  border: 2px solid darkmagenta;
  border-radius: 5px;
  margin-right: 10px;
}

#searchTabButton {
  background-color: #B19CD9;
  padding: 10px;
  border: 2px solid darkmagenta;
  border-radius: 5px;
}


.searchForm {
  display: none;
}

#dropdown-menu {
  margin-left: 10px;
  padding: 10px;
  background-color: #B19CD9;
  border: 2px solid darkmagenta;
  border-radius: 5px;
  text-align: center;
}

@media all and (max-width: 630px) {
  #search-bar {
    width: 300px;
  }
}

@media all and (max-width: 400px) {
  #search-bar {
    width: 100px;
  }
}
