.favorite-button{
    cursor:pointer;
    color:red;
    display:flex;
    font-size: 1.5rem;
}
.favorite-button .fa-heart:hover{
    transition:color .1s ease-in-out;
}
.favorite-button .fa-heart:hover{
    color: darkred;
    font-weight: bold;
}