#root{
  /* max-width: max-content; */
}
html{
  background-color: black;
  /* max-width: max-content; */
}

body {
  text-align: center;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  margin: 0;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#footerText{
  /* background-color: white; */
  color: black;
}
.footerEnd{
  height: 2rem;
  background-color: white;
  width: 100%;
  display: block;
}
footer{
  width: 100%;
  background-color: white;
  height: 100px;
}

.socialMediaIcons{
  margin: 1rem;
}

.fa{
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

}
