.menu-bar{
    background-color: black;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    justify-content: center;
    align-items: center;
    display: flex;
}
.menuText{
    color: white;
    font-size: 2rem;
    text-align: left;
}
.menuCloseBtn{
    color: white;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.menuOptions{
    align-content: left;
    width: 100%;
}

.closeMenuX{
    padding: 0.2rem;
    width: 3rem;
    border-radius: 0.1rem;
    align-items: right;
}
.fa-solid{
    margin: 2rem;
}
.menuText:hover{
    transform: translateX(20px);
}

