.movie-card{
    margin: 2% 0% 2% 2%;
    border-radius: 10px;
    border: solid black;
    margin-left: auto;
    margin-right: auto;


}
.movieImage{
    width: 100%;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
p{
    text-align: center;
    text-wrap: wrap;
}
