.movies{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#loadMore{
    margin: 20px;
    width: 10%;
    height: 50px;
}

.loadMore-container{
    display: flex;
    justify-content: center;
}

.search_bar_container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#search_bar{
    width: 60%;
    height: 30px;

}



.dropdown_button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: auto;
}

.dropdown_button:hover, .dropdown_button:focus {
    background-color: #3e8e41;
}


#dropdown_container{
    display: flex;
    align-self: center;
    padding-left: 15px;
}