.movie-card{
    width: 250px;
    box-sizing: border-box;
    border: .2rem black solid;
    box-shadow: 0px 0px 5px black;
    border-radius: .7rem;
    margin: 2%;
    text-align: center;
}
.movie-card:hover{
    box-sizing: border-box;
    border: .5rem black solid; 
    cursor: pointer;
}
.movieImage{
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem .0rem .0rem;
    border-bottom: .2rem black solid;
}
.movieImage:hover{
    border-radius:  .2rem .2rem .0rem .0rem;
}


.movieTitle{
    margin:2px;
}
.movieAvgRating{
    margin:2px;
}