.movieCards{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}
.movieCards img{
    width: 100%;
    display: block;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    width: 15rem;
    height: 15rem;
}
.movieCard-title{
   font-weight: bold;
   text-wrap: wrap;
}

p{
    color: white;
}
