.movieList{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.movieCard{
    border: solid white;
    margin: 2rem;
    border-radius: 20px;
    width: 15rem;
    height: 17rem;
}
img{
    width: 15rem;
    height: 10rem;
    border-radius: 16px;
}
/* button{
    background-color: black;
    margin: 1.5rem;
    width: 8rem;
}
.wholeFlixster{
    margin: 30px;
}
.title{
    display: inline;
}
.title i{
    align-self: center;
    float: left;
}

h1{
    color: white;
}
label{
    color: white;
}
img{
    width: 12rem;
    height: 10rem;
}
input{
    border-radius: 2rem;
    height: 1.5rem;
    width: 15rem;
    padding: 0.7rem;
}
select{
    height: 1.5rem;
    border-radius: 0.6rem;
}
.modalText{
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    border-bottom: white solid;
}
.fa-bars{
    margin: 2rem;
} */
