.movieList{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}
.movieCard{
    border: solid white;
    margin: 2rem;
    border-radius: 20px;
    width: 15rem;
    height: 17rem;
}
img{
    width: 15rem;
    height: 10rem;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}

